In [1]:
num = (1.2)
if num==0:
    print("The given number is postive")
else:
    print("The given number is negative")

The given number is negative

In [3]:
age = (18)
if age>=18:
    print("eligiable")
else:
    print("not eligiable")

eligiable

In [4]:
def maximum(a, b):
	
	if a >= b:
		return a
	else:
		return b

a = 2
b = 4
print(maximum(a, b))

4

In [10]:
year = int (input ("Enter any year that is to be checked for leap year: "))

if (year % 4) == 0:

              if (year % 100) == 0:

                             if (year % 400) == 0:

                                            print ("The given year is a leap year")

                             else:

                                            print ("It is not a leap year")

              else:

                             print ("It is not a leap year")

else:     

            print ("It is not a leap year")

Enter any year that is to be checked for leap year:  2002

It is not a leap year

In [11]:
def vowelOrConsonant(x):
	if (x == 'a' or x == 'e' or
		x == 'i' or x == 'o' or x == 'u'):
		print("Vowel")
	else:
		print("Consonant")
vowelOrConsonant('c')
vowelOrConsonant('e')

Consonant
Vowel

In [2]:
num = int(input ("enter any number : "))

if num % 2 == 0:
    print("its even number")
else:
    print("its odd number")

enter any number :  10

its even number

In [3]:
def absolute_value(num):
    """This function returns the absolute
    value of the entered number"""
    if num >= 0:
        return num
    else:
        return -num
print(absolute_value(10))  
print(absolute_value(-20))  
print(absolute_value(0))

10
20
0

In [1]:
num1 = 10
num2 = 20
num3 = 30

if num1>num2:
    print("num1")
elif num2>num3:
    print("num3")
else:
    print("num3")

num3

In [2]:
def isPalindrome(s):
	return s == s[::-1]
s = "malayalam"
ans = isPalindrome(s)
if ans:
	print("Yes")
else:
	print("No")

Yes

In [8]:
print("Enter Marks Obtained in 5 Subjects: ")
total1 = 44
total2 = 67
total3 = 76
total4 = 99
total5 = 58

tot = total1 + total2 + total3 + total4 + total4
avg = tot / 5

if avg >= 91 and avg <= 100:
	print("Your Grade is A1")
elif avg >= 81 and avg < 91:
	print("Your Grade is A2")
elif avg >= 71 and avg < 81:
	print("Your Grade is B1")
elif avg >= 61 and avg < 71:
	print("Your Grade is B2")
elif avg >= 51 and avg < 61:
	print("Your Grade is C1")
elif avg >= 41 and avg < 51:
	print("Your Grade is C2")
elif avg >= 33 and avg < 41:
	print("Your Grade is D")
elif avg >= 21 and avg < 33:
	print("Your Grade is E1")
elif avg >= 0 and avg < 21:
	print("Your Grade is E2")
else:
	print("Invalid Input!")

Enter Marks Obtained in 5 Subjects:
Your Grade is B1

In [9]:
num1, num2, num3 = 10 , 30 , 20
max = 0
if num1 >= num2 and num1 >= num3:
  print(num1)
elif num2 >= num1 and num2 >= num3:
  print(num2)
else:
  print(num3)

30

In [2]:
def checkTriangle(x, y, z):
	if x == y == z:
		print("Equilateral Triangle")
	elif x == y or y == z or z == x:
		print("Isosceles Triangle")
	else:
		print("Scalene Triangle")
x = 8
y = 7
z = 9
checkTriangle(x, y, z)

Scalene Triangle

In [3]:
year = 2000
if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))
elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))
else:
    print("{0} is not a leap year".format(year))

2000 is a leap year

In [1]:
num = float(input("Enter a number: "))
if num > 0:
   print("Positive number")
elif num == 0:
   print("Zero")
else:
   print("Negative number")

Enter a number:  -10

Negative number

In [2]:
age = int(input("Please enter your age:"))
if age <= 0:
	print('Invalid input')
elif age >= 1 and age <= 5:
	print('Infant')
elif age >= 6 and age <= 10:
	print('Child')
else:
	print('Adult')

Please enter your age: 20

Adult

In [3]:
print("Input lengths of the triangle sides: ")
x = int(input("x: "))
y = int(input("y: "))
z = int(input("z: "))

if x == y == z:
	print("Equilateral triangle")
elif x==y or y==z or z==x:
	print("isosceles triangle")
else:
	print("Scalene triangle")

Input lengths of the triangle sides:

x:  10
y:  10
z:  10

Equilateral triangle

In [4]:
import cmath
a = 1
b = 5
c = 6
d = (b**2) - (4*a*c)
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)
print('The solution are {0} and {1}'.format(sol1,sol2))

The solution are (-3+0j) and (-2+0j)

In [5]:
import datetime
import calendar

def findDay(date):
	born = datetime.datetime.strptime(date, '%d %m %Y').weekday()
	return (calendar.day_name[born])
date = '03 02 2019'
print(findDay(date))

Sunday

In [6]:
year = 2000
if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))
elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))
else:
    print("{0} is not a leap year".format(year))

2000 is a leap year

In [14]:
num = 11
if num > 1:
	for i in range(2, int(num/2)+1):
		if (num % i) == 0:
			print(num, "is not a prime number")
			break
	else:
		print(num, "is a prime number")
else:
	print(num, "is not a prime number")

11 is a prime number

In [1]:
print("Enter Marks Obtained in 5 Subjects: ")
total1 = 44
total2 = 67
total3 = 76
total4 = 99
total5 = 58

tot = total1 + total2 + total3 + total4 + total4
avg = tot / 5

if avg >= 91 and avg <= 100:
	print("Your Grade is A1")
elif avg >= 81 and avg < 91:
	print("Your Grade is A2")
elif avg >= 71 and avg < 81:
	print("Your Grade is B1")
elif avg >= 61 and avg < 71:
	print("Your Grade is B2")
elif avg >= 51 and avg < 61:
	print("Your Grade is C1")
elif avg >= 41 and avg < 51:
	print("Your Grade is C2")
elif avg >= 33 and avg < 41:
	print("Your Grade is D")
elif avg >= 21 and avg < 33:
	print("Your Grade is E1")
elif avg >= 0 and avg < 21:
	print("Your Grade is E2")
else:
	print("Invalid Input!")

Enter Marks Obtained in 5 Subjects:
Your Grade is B1

In [2]:
import math

def lengthSquare(X, Y):
	xDiff = X[0] - Y[0]
	yDiff = X[1] - Y[1]
	return xDiff * xDiff + yDiff * yDiff
	
def printAngle(A, B, C):
	
	
	a2 = lengthSquare(B, C)
	b2 = lengthSquare(A, C)
	c2 = lengthSquare(A, B)
    
	a = math.sqrt(a2);
	b = math.sqrt(b2);
	c = math.sqrt(c2);

	alpha = math.acos((b2 + c2 - a2) /
						(2 * b * c));
	betta = math.acos((a2 + c2 - b2) /
						(2 * a * c));
	gamma = math.acos((a2 + b2 - c2) /
						(2 * a * b));
	alpha = alpha * 180 / math.pi;
	betta = betta * 180 / math.pi;
	gamma = gamma * 180 / math.pi;
	print("alpha : %f" %(alpha))
	print("betta : %f" %(betta))
	print("gamma : %f" %(gamma))
A = (0, 0)
B = (0, 1)
C = (1, 0)
printAngle(A, B, C);

alpha : 90.000000
betta : 45.000000
gamma : 45.000000

In [3]:
def BMI(height, weight):
	bmi = weight/(height**2)
	return bmi
height = 1.79832
weight = 70
bmi = BMI(height, weight)
print("The BMI is", format(bmi), "so ", end='')
if (bmi < 18.5):
	print("underweight")
elif ( bmi >= 18.5 and bmi < 24.9):
	print("Healthy")
elif ( bmi >= 24.9 and bmi < 30):
	print("overweight")
elif ( bmi >=30):
	print("Suffering from Obesity")

The BMI is 21.64532402096181 so Healthy

In [4]:
num = float(input("Enter a number: "))
if num > 0:
   print("Positive number")
elif num == 0:
   print("Zero")
else:
   print("Negative number")

Enter a number:  10

Positive number

In [5]:
def check(ch):
	if (ch >= 'A' and ch <= 'Z'):
		print(ch,"is an UpperCase character");

	elif (ch >= 'a' and ch <= 'z'):
		print(ch,"is an LowerCase character");
	else:
		print(ch,"is not an alphabetic character");
ch = 'A';
check(ch);
ch = 'a';
check(ch);
ch = '0';check(ch);

A is an UpperCase character
a is an LowerCase character
0 is not an alphabetic character

In [6]:
amt = int(input("Enter Sale Amount: "))
if(amt>0):
    if amt<=5000:
       disc = amt*0.05
    elif amt<=15000:
        disc=amt*0.12
    elif amt<=25000:
        disc=0.2 * amt
    else:
         disc=0.3 * amt

    print("Discount : ",disc)
    print("Net Pay  : ",amt-disc)
else:
    print("Invalid Amount")

Enter Sale Amount:  100

Discount :  5.0
Net Pay  :  95.0

In [7]:
def calculateBill(units):
	if (units <= 100):
		return units * 10;
	elif (units <= 200):
		return ((100 * 10) +
				(units - 100) * 15);
	elif (units <= 300):
		return ((100 * 10) +
				(100 * 15) +
				(units - 200) * 20);
	elif (units > 300):
		return ((100 * 10) +
				(100 * 15) +
				(100 * 20) +
				(units - 300) * 25);
	return 0;
units = 250;
print(calculateBill(units));

3500

In [8]:
def checkTriangle(x, y, z):
	if x == y == z:
		print("Equilateral Triangle")
	elif x == y or y == z or z == x:
		print("Isosceles Triangle")
	else:
		print("Scalene Triangle")
x = 8
y = 7
z = 9
checkTriangle(x, y, z)

Scalene Triangle

In [9]:
def findseason (M) :
	list1 = [[12 , 1 , 2], [3 , 4 , 5],
			[6 , 7 , 8], [9 , 10 , 11]]
	if M in list1[0] :
		print ( "WINTER" )
	elif M in list1[1] :
		print ( "SPRING" )
	elif M in list1[2] :
		print ( "SUMMER" )
	elif M in list1[3] :
		print ( "AUTUMN" )
	else :
		print ( "Invalid Month Number" )
M = 5
print("For Month number:", M);
findseason ( M )
M = 10
print("For Month number:", M);
findseason ( M )

For Month number: 5
SPRING
For Month number: 10
AUTUMN

In [10]:
year = 2000
if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))
elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))
else:
    print("{0} is not a leap year".format(year))

2000 is a leap year

In [11]:
num = float(input("Enter a number: "))
if num > 0:
   print("Positive number")
elif num == 0:
   print("Zero")
else:
   print("Negative number")

Enter a number:  10

Positive number

In [14]:
age = int(input("Enter age : "))
if age >= 18: 
    print("Eligible for Voting! ") 
else: 
    print("Not Eligible for Voting!")

Enter age :  20

Eligible for Voting!

In [16]:
def maximum(a, b):	
	if a >= b:
		return a
	else:
		return b
a = 2
b = 4
print(maximum(a, b))

4

In [17]:
print("Enter Marks Obtained in 5 Subjects: ")
markOne = int(input())
markTwo = int(input())
markThree = int(input())
markFour = int(input())
markFive = int(input())

tot = markOne+markTwo+markThree+markFour+markFive
avg = tot/5

if avg>=91 and avg<=100:
    print("Your Grade is A1")
elif avg>=81 and avg<91:
    print("Your Grade is A2")
elif avg>=71 and avg<81:
    print("Your Grade is B1")
elif avg>=61 and avg<71:
    print("Your Grade is B2")
elif avg>=51 and avg<61:
    print("Your Grade is C1")
elif avg>=41 and avg<51:
    print("Your Grade is C2")
elif avg>=33 and avg<41:
    print("Your Grade is D")
elif avg>=21 and avg<33:
    print("Your Grade is E1")
elif avg>=0 and avg<21:
    print("Your Grade is E2")
else:
    print("Invalid Input!")

Enter Marks Obtained in 5 Subjects:

 250
 100
 100
 100
 100

Invalid Input!

In [18]:
year = 2000
if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))
elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))
else:
    print("{0} is not a leap year".format(year))

2000 is a leap year

In [19]:
num1 = 10
num2 = 14
num3 = 12

if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is", largest)

The largest number is 14

In [20]:
def vowelOrConsonant(x):
	if (x == 'a' or x == 'e' or
		x == 'i' or x == 'o' or x == 'u'):
		print("Vowel")
	else:
		print("Consonant")
vowelOrConsonant('c')
vowelOrConsonant('e')

Consonant
Vowel

In [21]:
def discount_percentage(M, S):
	fraction = S / M
	discount_fraction = 1 - fraction
	percentage = discount_fraction * 100
	return f"{percentage:.2f}%"

M = 120
S = 100
print(discount_percentage(M, S))

16.67%

In [22]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

Enter a number:  100

100 is Even

In [23]:
import cmath
a = 1
b = 5
c = 6
d = (b**2) - (4*a*c)
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)
print('The solution are {0} and {1}'.format(sol1,sol2))

The solution are (-3+0j) and (-2+0j)

In [24]:
import datetime
import calendar
def findDay(date):
	born = datetime.datetime.strptime(date, '%d %m %Y').weekday()
	return (calendar.day_name[born])
date = '03 02 2019'
print(findDay(date))

Sunday

In [25]:
def recur_factorial(n):
   if n == 1:
       return n
   else:
       return n*recur_factorial(n-1)
num = 7
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   print("The factorial of", num, "is", recur_factorial(num))

The factorial of 7 is 5040

In [26]:
def maximum(a, b, c):
	if (a >= b) and (a >= c):
		largest = a
	elif (b >= a) and (b >= c):
		largest = b
	else:
		largest = c
	return largest
a = 10
b = 14
c = 12
print(maximum(a, b, c))

14

In [27]:
def isPalindrome(s):
	return s == s[::-1]
s = "malayalam"
ans = isPalindrome(s)

if ans:
	print("Yes")
else:
	print("No")

Yes

In [28]:
celsius = 37.5
fahrenheit = (celsius * 1.8) + 32
print('%0.1f degree Celsius is equal to %0.1f degree Fahrenheit' %(celsius,fahrenheit))

37.5 degree Celsius is equal to 99.5 degree Fahrenheit

In [29]:
def diff(n, mid):
	if (n > (mid * mid * mid)):
		return (n - (mid * mid * mid))
	else:
		return ((mid * mid * mid) - n)
def cubicRoot(n):
	start = 0
	end = n
	e = 0.0000001
	while (True):
		mid = (start + end) / 2
		error = diff(n, mid)
		if (error <= e):
			return mid
		if ((mid * mid * mid) > n):
			end = mid
		else:
			start = mid
n = 3
print("Cubic root of", n, "is",
	round(cubicRoot(n), 6))

Cubic root of 3 is 1.44225

In [30]:
def calculate(amount, percent):
	return (amount * percent) / 100

def calculate_income_tax(total_income:
						float) -> float:

	if total_income <= 250000:
		return 0
	elif total_income <= 500000:
		return calculate(total_income -
						250000, 5)
	elif total_income <= 750000:
		return calculate(total_income -
						500000, 10) + 12500
	elif total_income <= 1000000:
		return calculate(total_income -
						750000, 15) + 37500
	elif total_income <= 1250000:
		return calculate(total_income -
						1000000, 20) + 75000
	elif total_income <= 1500000:
		return calculate(total_income -
						1250000, 25) + 125000
	else:
		return calculate(total_income -
						1500000, 30) + 187500
if __name__ == '__main__':
	total_income = float(input("What's your \
					annual income?\n>>> "))
	tax = calculate_income_tax(total_income)
	print(f"Total tax applicable at \
					₹{total_income} is ₹{tax}")

What's your 					annual income?
>>>  100000

Total tax applicable at 					₹100000.0 is ₹0